@import "../../variables.scss";

nav {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-family: $main-font;
  padding: 20px;
  background-image: url("../../images/headerBgBlack.svg");
  //   background-size: 100%;
  background-repeat: no-repeat;
  //   background-position: center;
  background-position: center;
  background-size: cover;
  // background-attachment: scroll;
  // background-color: red;
}

.logo_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  img {
    display: block;
  }

  span {
    color: $white-color;
    line-height: 1;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-left: 10px;
  }
}

.nav_links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-size: 1.1rem;
  letter-spacing: 1px;

  li {
    a {
      text-decoration: none;
      color: $white-color;
      transition: color 0.3s ease;

      &:hover {
        color: $accent-color;
        // transition: color 0.3s ease;
      }
    }
  }
}

.icon_section {
  a {
    display: inline-block;

    svg {
      .icon-path {
        fill: $white-color;
        transition: fill 0.3s ease;
      }
    }

    &:hover {
      svg .icon-path {
        fill: $accent-color;
      }
    }
  }
}
