// Font Imports
@import url(https://db.onlinewebfonts.com/c/003d7a319c34541beb85322e96801b07?family=Shackleton+Test+Condensed);
@import url(https://db.onlinewebfonts.com/c/22f04edf2c2e9ca17625d9e7ccdf70e2?family=Source+Serif+4);

// Font Family Variables
$main-font: "Shackleton Test Condensed", sans-serif;
$secondary-font: 'Source Serif 4', serif;

// Project Color Variables

$accent-color: #c41520;
$white-color: #ffffff;
$black-color: #000000;
$gray-color: #C5C5C5;
$bg-dark: #120D0D;
$light-background: #201818;

