@use "../../variables.scss" as *;

.carousel {
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-top: 50px;

  &__body {
    width: 100%;
    padding: 20px 0 50px 0;
    overflow: hidden;
    position: relative;
  }

  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.25s ease;
    cursor: pointer;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 40px;
      color: $white-color;
      display: block;
      line-height: 1;
    }

    &:hover {
      transform: translateY(-50%) scale(1.15);
      background: rgba(0, 0, 0, 0.7);
    }
  }

  &__prev {
    left: 20px;
  }

  &__next {
    right: 20px;
  }

  &__slider {
    position: relative;
    transition: transform 1s ease-in-out;
    background: transparent;
    display: flex;

    &__item {
      position: relative;
      display: block;
      float: left;
      box-sizing: border-box;
      flex-shrink: 0;

      .item__3d-frame {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 1s ease-in-out;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;

        &:after {
          content: '';
          position: absolute;
          bottom: -15%;
          width: 100%;
          height: 40px;
          background: rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
          transform: rotateX(90deg) translate3d(0px, -20px, 0px);
          opacity: 0.85;
        }

        &__box {
          display: flex;
          align-items: center;
          vertical-align: middle;
          text-align: center;
          position: absolute;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          border-color: $white-color;
          background: $bg-dark;
          border-width: 3px;
          border-style: solid;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        &__box--right,
        &__box--left {
          top: 0;
          width: 40px;
          backface-visibility: hidden;
          background: $bg-dark;
        }

        &__box--left {
          left: 0;
          border-left-width: 5px;
          transform: translate3d(1px, 0, -40px) rotateY(-90deg);
          transform-origin: 0%;
        }

        &__box--right {
          right: 0;
          border-right-width: 5px;
          transform: translate3d(-1px, 0, -40px) rotateY(90deg);
          transform-origin: 100%;
        }
      }
    }

    &__item--active {
      .item__3d-frame {
        // Active item stays in perspective
      }
    }
  }
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
  color: $white-color;
  width: 100%;
}
